<br>
<br>
<h2>Home</h2>
<br>
<br>
<br> 
<div class="card-group">
  <div class="card card-body">
    <h1>
      <div class="fa-solid fa-earth-oceania"></div>
    </h1>
    Global search
    <div class="row"></div>
    Explore a variety of recent updates
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-user-tie"></div>
    </h1>

    Expert investigators
    <div class="row"></div>
    Find the right expertise for your case
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-people-carry-box"></div>
    </h1>
    Active users forum
    <div class="row"></div>
    Join the knowledge sharing community
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-map-location-dot"></div>
    </h1>
    Join our volunteers
    <div class="row"></div>
    Navigating the missing persons process
  </div>
</div>
<hr/>
<h2>
  Popular sources
</h2>
<div class="card-columns">
</div>
<hr/>
<h2>
  Top rated sources
</h2>
<div class="card-columns">
</div>
<hr/>
<h2>
  Latest updates
</h2>
<div class="card-columns">
</div>
<hr/>

<b>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>CTD Crawfish class Practicum 2022</p>
<%= javascript_pack_tag 'missing_people_operations' %>
