
<br>

<h2>User Logon</h2>
<br>
<div id="session_rest_operations_div">
  <!-- Help Find API User Logon -->
  
  <label>User Email</label>
  <input id="user_log_on_email">
  <br>
  <label>User Password</label>
  <!-- Logon User Session: Toggle Password Visibility -->
  <input type="password" name="password" autocomplete="current-password" required="" id="user_log_on_password">
  <i class="far fa-eye" id="togglePassword" onclick="logon_user_password_function()" style="margin-left: -30px; cursor: pointer;"></i>
  <script>
    function logon_user_password_function() {
      var x = document.getElementById("user_log_on_password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
  <br>
  <br>
  <button id="user_logon_button" type="button" a href="#" class="button">Logon</button>
  <br>
  <br>
  <!-- <b><p>Logon Status:</p></b> -->
  <div id="logon_results_div">
  </div>
  <b>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </b>

  

  <br>


  <%= javascript_pack_tag 'session_operations' %>