
<br>
<h2>User Logoff</h2>

<br>


<div id="session_rest_operations_div">

  <!-- Help Find API User Logoff -->

  <button id="user_logoff_button" type="button" a href="#" class="button">Logoff</button>

</div>

<br>
<br>

<div id="logoff_results_div">

</div>
<b>
<br>
<br>

<%= javascript_pack_tag 'session_operations' %>
