<br>
<h2>Missing People</h2>

<br>

<div id='missing_people_crud_operations_div'>

  <!-- list-missing_people-->

  <button id="read_missing_people_button" type="button" a href="#" class="button">Display All</button>

  <br>

  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sex</th>
        <th>Race</th>
        <th>Age</th>
        <th>Hair Color</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody id="read_missing_person_results_div">
    </tbody>
  </table>
</div>

  <br>
  <br>
  <br>
    <b>
    <i class="fa-solid fa-file-circle-plus"></i>
    <%= link_to 'Create New File', 'missing_create' %>

    <br>
    <i class="fa-solid fa-file-circle-exclamation"></i>
    <%= link_to 'Update File', 'missing_update' %>

    <br>
    <i class="fa-solid fa-file-circle-xmark"></i>
    <%= link_to 'Delete File', 'missing_delete' %>
    </b>
      <br>
        <br>
          <br>



</div>

  <br>
    <br>
      <br>




<%= javascript_pack_tag 'missing_people_operations' %>
