<br>
<h2>User Session</h2>
<br>
<br>

<b>
<%= link_to 'Create User', 'ajax/create_session' %>
 <br>
<%= link_to 'Logon', 'ajax/logon_session' %>
 <br>
<%= link_to 'Logoff', 'ajax/logoff_session' %>
</b>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<br>


<%= javascript_pack_tag 'session_operations' %>
